.App {
  display: grid;
  grid-template-areas:
    "a c"
    "b c";
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 2fr 3fr;
  gap: 0px 10px;
  width: 500px;
  height: 500px;
  background-color: black;
  padding: 10px;

  .ScoreBox {
    grid-area: a;
    background-image: linear-gradient(320deg, #db9c4a 0, #624137 100%);
  }

  .StatBox {
    grid-area: b;
    background-color: #e6e1cf;

    .StatRow {
      padding: 5px;

      .SelectStat {
        margin: 5px;
      }

      .InputStat {
        margin: 5px;
      }
    }
  }

  .MultiplierBox {
    grid-area: c;
    background-color: #e5e4e2;
    // display: flex;
    // flex-direction: column;

    .MultiplierRow {
      // display: flex;
      justify-content: space-between;
      align-items: center;
      // margin-bottom: 10px;
    }
  }

}












.StatType {
  width: 100px;
}