.App {
  display: grid;
  grid-template-areas:
    "a c"
    "b c";
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 2fr 3fr;
  gap: 0px 10px;
  width: 500px;
  height: 500px;
  background-color: black;
  padding: 10px;

  .score-box {
    grid-area: a;
    background-image: linear-gradient(320deg, #db9c4a 0, #624137 100%);
  }

  .stat-box {
    grid-area: b;
    background-color: #e6e1cf;
    align-items: center;

    .stat-row {
      display: flex;
      justify-content: center;
      // align-items: center;
      padding: 5px;

      .select-stat {
        margin: 5px;
      }

      .input-stat {
        margin: 5px;
      }
    }
  }

  .multiplier-box {
    grid-area: c;
    background-color: #e5e4e2;

    .multiplier-row {    
      display: flex;
      margin: 10px;
      .stat-type {
        width: 40%;
      }  
      .input-multiplier {
        width: 60%;
        
      }
    }
  }
}
